<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAADX6/T58cIkSJvxOLTbKCSgQAAAACAAAAAAAQZgAAAAEAACAAAAAXa83/FhRxW2vu/k/2l1gXgdnNezWDJ27esX12T4h89gAAAAAOgAAAAAIAACAAAACDV3xs3Gfb3tHzELiR2Gci9xznf7HvoO1ZOs1cB1CsnjAAAABkdo3g5aEYREhk+AagiWZRXdwRn9mQNSY8xlhnSnJR65dIKfDjkinhBU8V8r6W3EJAAAAAS45j0sFpqBIBWPA4cObZLWP5WE9KnrWxdz5KK9zEp6EDJd0PM7E3Kuk+p50D6tIRUbQQAEPYcZVrXt/NnQT1aQ==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>